@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Fira Code', 'Lucida Console', Monaco, monospace;
  font-size: 70%;
}


.remark-slide-content {
    background-color: #FAFAFA;
    border-top: 80px solid #23373B;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
    padding: 1em 2em 1em 2em
  }


.inverse {
  background-color: #23373B;
  text-shadow: none;
}

.remark-slide-content > h1 {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 35px;
  margin-top: -95px;
  margin-left: -00px;
  margin-bottom: 40px;
  color: #FAFAFA;
}

.remark-slide-content > inverse {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: 0px solid #FAFAFA;
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #23373B;
  text-shadow: none;
  font-weight: 500;
  text-align: left;
  margin-left: 00px;
}

.remark-slide-content > h2, .pull-left > h2, .pull-right > h2 {
  font-size: 26px;
  color: #23373B;
  font-weight: 400;
}

.remark-slide-content > h3, .remark-slide-content > h4,
.pull-left > h3, .pull-left > h4, .pull-right > h3, .pull-right > h4 {
  font-size: 25px;
  color: #23373B;
  font-weight: 400;
}

.remark-slide-number {
  font-size: 13pt;
  font-family: 'Fira Sans';
  color: #272822;
  opacity: 1;
}

.inverse .remark-slide-number {
  font-size: 13pt;
  font-family: 'Fira Sans';
  color: #FAFAFA;
  opacity: 1;
}

.inverse h2 {
  font-size: 15pt;
  color: #FAFAFA;
  text-transform: uppercase;
  opacity: 1;
}

.remark-inline-code {
  background: #e7e8e2;
  border-radius: 3px;
  color: #23373B;
  padding: 4px;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

.instructors {
  font-size: 15px;
  color: #e7e8e2;
  }

.title-slide h1 {
  color: #e7e8e2;
  font-size: 35px;
  margin-top: 0px;
  width: 65%;
}

.title-slide h2, .title-slide h3 {
  color: #e7e8e2;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 65%;
}

.remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.hljs-monokai .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #121312;
    color: #fff;
}

.code10 .remark-code {
  font-size: 10%;
}

.code20 .remark-code {
  font-size: 20%;
}

.code30 .remark-code {
  font-size: 30%;
}

.code40 .remark-code {
  font-size: 40%;
}

.code50 .remark-code {
  font-size: 50%;
}

.code60 .remark-code {
  font-size: 60%;
}

.code70 .remark-code {
  font-size: 70%;
}

.code80 .remark-code {
  font-size: 80%;
}

.code90 .remark-code {
  font-size: 90%;
}

.code100 .remark-code {
  font-size: 100%;
}

.font10 {
  font-size: 10%;
}

.font20 {
  font-size: 20%;
}

.font30 {
  font-size: 30%;
}

.font40 {
  font-size: 40%;
}

.font50 {
  font-size: 50%;
}

.font60 {
  font-size: 60%;
}

.font70 {
  font-size: 70%;
}

.font80 {
  font-size: 80%;
}

.font90 {
  font-size: 90%;
}

.font100 {
  font-size: 100%;
}

.font110 {
  font-size: 110%;
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}

.font160 {
  font-size: 160%;
}
.font170 {
  font-size: 170%;
}
.font180 {
  font-size: 180%;
}
.font190 {
  font-size: 190%;
}
.font200 {
  font-size: 200%;
}
